
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><strong>HeLpEr</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/homepage">Home</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/service"><b>Services</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><b>Contact Us</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/about"><b>About</b></a>
            </li>
        </ul>   
    
       <!--  <button class="btn btn-success btn-lg float-right" style="margin-left:1000px;"   type="submit">
               Submit
          </button>-->
    </div>
    <div style="float:right; margin-right: 10px;">
      <!-- <button class="btn btn-primary btn-lg float-right"  type="submit">
        Login
   </button> -->
 <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Register
</button>
 
    </div>
  
  </nav>
  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Helper  Registraion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container">
  
              <div class="card bg-light">
              <article class="card-body mx-auto" style="max-width: 400px;">
                  <h4 class="card-title mt-3 text-center">Register as A Helper</h4>
                  <p class="text-center">Get started with your free account</p>
                 
                  <!-- <form> -->
                  <form [formGroup]='helperRegisterForm' (ngSubmit)="onSubmit()">
                  <div class="form-group input-group" style="margin-bottom: 20px;">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                       </div>
                      <input name="helperService" class="form-control" placeholder="helperService" type="text"  formControlName="helperService">
                  </div> <!-- form-group// -->
                  <div class="form-group input-group" style="margin-bottom: 20px;">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                       </div>
                      <input name="location" class="form-control" placeholder="State" type="text"  formControlName="location">
                  </div> <!-- form-group// -->
                  <div class="form-group input-group" style="margin-bottom: 20px;">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                      </div>
                      <select class="custom-select" style="max-width: 120px;" id="countrycode"  formControlName="countrycode">
                          <option selected="+91">+91</option>
                          <option value="+92">+92</option>
                          <option value="+93">+93</option>
                          <option value="+94">+94</option>
                      </select>
                      <input name="contact" class="form-control" placeholder="Phone number" type="text"  formControlName="contact">
                  </div> <!-- form-group// -->
                  
                  <div class="form-group input-group" style="margin-bottom: 20px;">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" placeholder="Aadhar no" type="password" id="aadhar"  formControlName="aadhar">
                  </div> <!-- form-group// -->
                  <div class="form-group input-group" style="margin-bottom: 20px;">
                    <!-- <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div> -->
                    <label for="Description">Description:</label>
                    <textarea id="Description" name="Write about yourself" rows="4" cols="50" formControlName="describe">Describe Yourself</textarea>
                    <!-- <input class="form-control" placeholder="Description" type="text" id="aadhar"  > -->
                </div> <!-- form-group// -->
                  <!-- <div class="form-group input-group" style="margin-bottom: 20px;">
                      <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" placeholder="Repeat password" type="password">
                  </div> form-group//                                       -->
                  <div class="form-group" style="margin-bottom: 20px;">
                      <button type="submit" class="btn btn-primary btn-block" style="margin-left: 100px;"> Create Account  </button>
                  </div> <!-- form-group// -->      
                                                         
              </form>
              </article>
              </div> <!-- card.// -->
              
              </div> 
              <!--container end.//-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  