
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#"><strong>HeLpEr</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/homepage">Home</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/service"><b>Services</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><b>Contact Us</b></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about"><b>About</b></a>
            </li>
        </ul>   
    
       <!--  <button class="btn btn-success btn-lg float-right" style="margin-left:1000px;"   type="submit">
               Submit
          </button>-->
    </div>
    <div style="float:right; margin-right: 10px;">
      <!-- <button class="btn btn-primary btn-lg float-right"  type="submit">
        Login
   </button> -->
   <a class="nav-link" href="/login">LOGIN/SIGNUP</a>
    </div>
  
  </nav>
  