<div class="row" style="margin-top: 20px;">
    <div class="col-6 col-md-3" ><div class="card" style="width: 18rem; background-color:rgb(201, 194, 186);margin-left: 25px;" >
        <img src="..." class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">Mechanic</h5>
          <p class="card-text">Need Mechanical help..Contact us and Ask for Help</p>
           <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch
  </button>
        </div>
      </div></div>
      <div class="col-6 col-md-3"><div class="card" style="width: 18rem; background-color:rgb(201, 194, 186);margin-left: 25px;" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Plumber</h5>
          <p class="card-text">Facing Problem With Water and Pump ..Contact us and Ask for Help</p>
           <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch
  </button>
        </div>
      </div></div>
      <div class="col-6 col-md-3"><div class="card" style="width: 18rem; background-color:rgb(201, 194, 186);margin-left: 25px;" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Teacher</h5>
          <p class="card-text">Best Skill R..Contact us and Ask for Help</p>
           <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch
  </button>
        </div>
      </div></div>
  </div>

 <div class="row" style="margin-top: 30px;">
    <div class="col-6 col-md-4" ><div class="card" style="width: 18rem; background-color:rgb(201, 194, 186);margin-left: 25px;" >
        <img src="..." class="card-img-top" alt="...">
        
        <div class="card-body">
          <h5 class="card-title">Mechanic</h5>
          <p class="card-text">Need Mechanical help..Contact us and Ask for Help</p>
           <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch
  </button>
        </div>
      </div></div>
      <div class="col-6 col-md-4"><div class="card" style="width: 18rem; background-color:rgb(201, 194, 186);margin-left: 25px;" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Plumber</h5>
          <p class="card-text">Facing Problem With Water and Pump ..Contact us and Ask for Help</p>
           <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch
  </button>
        </div>
      </div></div>
      <div class="col-6 col-md-4"><div class="card" style="width: 18rem; background-color:rgb(201, 194, 186);margin-left: 25px;" >
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Teacher</h5>
          <p class="card-text">Best Skill R..Contact us and Ask for Help</p>
           <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch
  </button>
        </div>
      </div></div>
  </div>

 
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>